@define-color background #000000;
@define-color foreground #ffffff;
@define-color hyprpurple #160e14; 
@define-color purple #b077c7;

@define-color bg @background;
@define-color fg @foreground;

* {

  border: none;
  padding: 0px;
  font-family: "Iosevka";
  transition: background-color .3s ease-out;
  font-size: 16px;
}

window#waybar  {
  background-color: transparent;
  border-radius: 4px;
}

#waybar > box {
  border-radius: 12px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 0px 0px;
  /* background-color: @hyprpurple; */
  background-color: #0c0c0c;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
  min-height: 25px;
  transition-duration: .5s;
  font-size: 12px;

  color: @foreground;
  background-color: @background;

}

.modules-left {
margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#workspaces {
    margin: 0px 0px;
    transition: 0.1s ease-in-out;
    padding: 0px 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#workspaces button {
  all: initial;
  padding: 0px 1px;
  margin: 0px 3px;
  min-width: 10px;
  color: @foreground;
  opacity: 0.5;
  font-weight: bold;
  font-size: 12px;
}

#workspaces button.active {
  color: @foreground;
  opacity: 1.0;
  font-size: 12px;

}

#workspaces button.empty {
  opacity: 0.2;
  font-size: 12px;
  color: @foreground;
}

#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 1);
    transition: all 150ms ease;
    opacity: 0.75;
}


#workspaces button.empty.active {
  opacity: 1;
  font-size: 12px;
  color: @foreground;
}

#memory,
#tray,
#cpu,
#custom-clock,
#battery,
#pulseaudio {
  min-width: 12px;
  padding: 0 4px;
  margin: 1px 3px 1px 3px;
  opacity: 1;
  color: @purple;
}

#tray {
opacity: 1;
padding-top: 2px;
}


#custom-separator7,
#custom-separator6,
#custom-separator5,
#custom-separator4,
#custom-separator3,
#custom-separator2,
#custom-separator {
  opacity: 0.7;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
  color: @foreground;
}

tooltip {
  padding: 2px;
 border: 1.5px solid rgba(0, 0, 0, 1);
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1.5px solid alpha(@foreground, 0.6);
 border-radius: 8px;
 
}
tooltip label {
    color: alpha(@foreground, 0.65);
    font-weight: normal;
}

/* Specific animation Module */


@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}


@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.warning,
#memory.warning,
#cpu.warning {
    color: #e3c1b1; /* medium load */
    background-color: @background;
}

#pulseaudio.critical,
#memory.critical,
#cpu.critical {
    color: #df6124; /* high load */
    background-color: @background;
}
